body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: #434343;
}

ol, ul {
  padding-left: 30px;
  font-size: 30px;
}

li {
  margin: 20px;
}

h1 {
  font-size: 50px;
}

button {
  background: #666666;
  color: #FFFFFF;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 15px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #EFEFEF;
  border: 1px solid #404040;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: #434343;
  border-radius: 0px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-left: 25px;
  margin-top: 30px;
  font-size: 30px;
}
